*{
  /* border: 1px solid black; */
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-form .title,
.product-form .price,
.product-form .description
{
  height: 50px;
  width: 330px;
  background-color: rgb(250, 235, 217);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
.product-form input{
  height: 20px;
}
.product-form .sub-btn{
  height: 25px;
  background-color: rgb(134, 160, 255);
  border: 1px solid black;
  border-radius: 2px;
  color: white;
}

.product-list a{
  text-decoration: none;
}
.product-list button{
  margin-left: 10px;
  background-color: rgb(249, 154, 154);
  border: 1px solid black;
  border-radius: 2px;
}
.product-list .item{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.detail button{
  margin-left: 10px;
  background-color: rgb(249, 154, 154);
  border: 1px solid black;
  border-radius: 2px;
}