.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.form button{
  width: 100px;
}
.form {
  margin-bottom: 10px;
}
.athlete{
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  background-color: rgb(255, 245, 231);
  border-radius: 5px;
  margin-bottom: 10px;
}
